*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0C0429;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header{
    background-color: #170654;
    color: #fff;
    width: 100%;
    font: 2em sans-serif;
    text-align: center;
    padding: 10px;
}

form{
    width: 100%;
    text-align: center;
}

form input{
    padding: 10px;
    width: 50%;
    text-align: center;
}

form button{
    padding: 10px;
}

.movie-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    background-color: #2E2F65;
    width: 200px;
    aspect-ratio: 2/3;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}

.card img{
    width: 150px;
    height: 180px;
}

.card button{
    border: none;
    border-radius: 5px;
    background-color: #FF004E;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    transition: all ease .2s;
}

.card button:hover{
    background-color: #f909d5;
}